.notice {
  margin: 20px 50px;
  border: 2px solid #282828;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.notice-info {
  background-color: #282828;
  color: white;
  display: flex;
  padding-inline: 20px;
  p {
    margin: 0;
    padding-block: 10px;
    text-align: center;
  }
}
.notice-btn {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: auto;
  font-size: 18px;
  padding-block: 10px;
  cursor: pointer;
  &:hover {
    color: yellow;
  }
}

h2 {
  color: #282828;
}

.notice-body {
  padding-inline: 20px;
}
