<div class="ekart--product--container">
  <search (searchTextChanged)="updateSearchText($event)"></search>
  <product-list [searchText]="searchText" #productList></product-list>
  <product-detail
    *ngIf="productList.selectedProduct"
    [productListComponent]="productListComponent"
  ></product-detail>
  <div class="ekart-featured-products">
    <div class="ekart-featured-products-heading">
      <h1>Latest Arrival in Popular Brands</h1>
    </div>
    <featured-brands *ngFor="let brand of ['Nike Air', 'Adidas', 'Reebok']">
      <h3 class="title">New Arrivals in {{ brand }}</h3>
      <button class="call-to-action">Show New Arrivals in {{ brand }}</button>
    </featured-brands>
  </div>
</div>
