<filter
  [all]="totalProductCount"
  [inStock]="totalProductsInStock"
  [outOfStock]="totalProductsOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
></filter>
<div class="ekart--products--container">
  <!--   
  <div *ngFor="let prod of products" (click)="selectedProduct = prod">
    <product
      [product]="prod"
      *ngIf="
        (selectedFilterRadioButton === 'all' ||
          prod.is_in_inventory.toString() === selectedFilterRadioButton) &&
        prod.name.toLowerCase().startsWith(searchText.toLocaleLowerCase())
      "
    >
    </product>
</div>
-->
  <ng-container *ngFor="let prod of products">
    <product
      [product]="prod"
      *ngIf="
        (selectedFilterRadioButton === 'all' ||
          prod.is_in_inventory.toString() === selectedFilterRadioButton) &&
        prod.name.toLowerCase().startsWith(searchText.toLocaleLowerCase())
      "
      (click)="selectedProduct = prod"
    >
    </product>
  </ng-container>
</div>
