<div class="ekart--search--product">
  <!-- implementation using 2-way data-binding
  <input
    class="ekart-search-product-input"
    placeholder="Search for products, brands and more"
    [(ngModel)]="searchText"
    (input)="onSearchTextChanged()"
  />
  -->
  <input
    class="ekart-search-product-input"
    placeholder="Search for products, brands and more"
    #searchInput
  />
  <!-- ngClass attribute directive and property binding example
  <button
    [ngClass]="{
      btn: true,
      'btn-search': searchText,
      'btn-search-disabled': !searchText
    }"
    [disabled]="searchText"
  >
    Search
  </button>
  -->
  <button class="btn btn-search" (click)="onSearch(searchInput)">Search</button>
</div>
<div class="ekart-search-result-for" *ngIf="searchText">
  <p><strong>Search result for:</strong> {{ searchText }}</p>
</div>
