.container {
  width: 320px;
  margin: 100px auto;
  padding: 30px 40px;
  border-radius: 3px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: #eee;
  font-size: 16px;
}

button {
  background-color: #282828;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  margin-left: 5px;
}

input {
  padding: 8px 10px;
  border-radius: 2px;
  border: 1px solid #282828;
}
